@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "poppins",sans-serif;
    background: linear-gradient(135deg, #056a6d 10%, #5151e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.bmi-card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    
    width: auto;
    color: #fff;
    
}

.bmi-card h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}
.input-group{
    margin-bottom: 15px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    color: #4c1717;

}

.input-group input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    outline: none;
}

.input-group input::placeholder{
    color: #066267;

}

.btn-calculator{
    margin-top: 20px;
    background: linear-gradient(90deg,#5a828d,#2c2d64);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    width: 300px;
    transition: background 0.3s ease;
    
}

.btn-calculator:hover{
    width: 300px;
    background: linear-gradient(90deg,#2e9b92,#7063a8);

}

.result{
    margin: 30px;
}
.result h3{
    font-size: 1.rem;
    margin: 10px 0;

}

.result h2{
    font-size: 1rem;
    color: #bace04;

}
.btn-submit:hover{
    background: linear-gradient(90deg,#0f9e8b,#284a7c);
    
}
.cardbody{
    background: linear-gradient(90deg,#d8afbf,#b5eca7);
    margin-top: 50px;
}







 /* {
                "Name": "Kannur",
                "Description": null,
                "BranchType": "Head Post Office",
                "DeliveryStatus": "Delivery",
                "Circle": "Kerala",
                "District": "Kannur",
                "Division": "Cannanore",
                "Region": "Calicut",
                "Block": "Kannur",
                "State": "Kerala",
                "Country": "India",
                "Pincode": "670001"
            }, */